### Python Revision

###### Ex. WAP to replace all the vowels in a word with `*`

In [1]:
word = input("Enter a word - ")
for ch in "aeiou" :    
    word = word.replace(ch, "*")
word

Enter a word -  singapore

's*ng*p*r*'

In [2]:
word = input("Enter a word - ")
trans_obj = str.maketrans("aeiou", "*****")
word.translate(trans_obj)

Enter a word -  singapore

's*ng*p*r*'

In [3]:
word = input("Enter a word - ")
trans_obj = str.maketrans("aeiou", "*****", "@$")  # str.maketrans("old chars", "new chars", "chars to be removed")
word.translate(trans_obj)

Enter a word -  abcd$

'*bcd'

###### Ex. WAP to get sum of sales from the sales tuple

In [4]:
sales = ("$290", "$800", "900", "$500")

###### Ex. WAP to sort the given dict in DESC order of salaries

In [ ]:
employee = {"Rosie" : 40000, "Jane" : 30000, "Jack" :50000, "George" : 45000}

<hr><hr>

# Basics of NumPy
- NumPy - Introduction and Installation
- NumPy - Arrays Data Structure ( 1D, 2D, ND arrays)
- Creating Arrays
- NumPy - Data Types
- Array Attributes
- Creating Arrays – Alternative Ways
- Sub-setting, Slicing and Indexing Arrays
- Operations on Arrays
- Array Manipulation

### NumPy – Introduction and Installation

- NumPy stands for ‘Numeric Python’
- Used for mathematical and scientific computations
- NumPy array is the most widely used object of the NumPy library

#### Installing numpy

!pip install numpy

#### Importing numpy

In [ ]:
import numpy as np

### Arrays Data Structure

An `Array` is combination of homogenous data objects and can be indexed across multiple dimensions

#### Arrays are –
- ordered sequence/collection of Homogenous data
- multidimensional
- mutable

#### Creating Arrays – From list/tuple

- `np.array()` is used to create a numpy array from a list

#### Example on 1-D Array

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr

#### Example on 2-D Array

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
arr

### Array Attributes

- Attributes are the features/characteristics of an object that describes the object

- Some of the attributes of the numpy array are:
    - **shape** - Array dimensions
    - **size** - Number of array elements
    - **dtype** - Data type of array elements
    - **ndim** - Number of array dimensions
    - **dtype.name** - Name of data type
    - **astype** - Convert an array to a different type

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr

In [ ]:
arr.shape

In [ ]:
arr.size

In [ ]:
arr.ndim

In [ ]:
arr.dtype

In [ ]:
arr.astype(float)

### Indexing, Slicing and Boolen Indexing

In [ ]:
arr = np.random.randint(5, 50, size = 10)
arr

#### 1-D Arrays

###### Ex. Extract first 3 elements

###### Ex. Extract last 5 elements

###### Ex. Extract elements at index position 2, 5, 9.

###### Ex. Extract elements less than 20

### 2-D Arrays

In [ ]:
arr = np.random.randint(5, 50, size = (6,4))
arr

###### Ex. Extract first 3 rows

###### Ex. Extract last 2 rows

###### Ex. Extract second column

###### Ex. Extract row 2 and 3 and column 2 and 3

###### Ex. Extract values less than 25

###### Ex. Identify largest value. Extract values less than half of largest values

### Examples on Coffee Shop Data Set

#### Coffee Shop

Mr. Alex owns a huge chain of coffee shop franchises. His franchises are spread across various states in India. There are in all 13 products sold across 156 franchises. Each franchise manager records their monthly sales and profits and compares with its corresponding targeted values. Let us start learning various attributes of numpy and pandas using the Coffee Shop dataset.


Fields in dataset -

- Product Name
- Actual Sales
- Actual Profits
- Targeted Sales
- Targeted Profits

#### Ex.  Create an array of coffee products, sales and profits

In [ ]:
coffee_products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array( [52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])

###### Ex. How many products are there in the dataset?

###### Ex.  Sales greater than 50,000

###### Ex.  Identify Losses

###### Ex.  Products in loss

###### Ex.  Product with maximum Sales

### Array Operations

#### Arithmetic operations on Arrays -
 - Addition, Substraction, Multiplication, Division, etc.
 - Operations on array and a scalar value
 - Operations between two arrays
 - Matrix Operations - Multiplication(np.dot()), Transpose(np.transpose())

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 + 5 # Addition

In [ ]:
arr1 - 5 # Substraction

In [ ]:
arr1 * 5 # Multiplication

In [ ]:
arr1 / 5 # Division

In [ ]:
arr1 // 5 # Floor Division

In [ ]:
arr1 % 5 # Modulus

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 + arr2 # Addition

In [ ]:
arr1 - arr2 # Substraction

In [ ]:
arr1 * arr2 # Multiplication

In [ ]:
arr1 / arr2 # Division

In [ ]:
arr1 // arr2 # Floor Division

In [ ]:
arr1 % arr2 # Modulus

#### Relational operations on Arrays -
 - ==, !=, <, >, <=, >=
 - Operations on array and a scalar value
 - Operations between two arrays

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 == 5

In [ ]:
arr1 != 5

In [ ]:
arr1 < 5

In [ ]:
arr1 > 5

In [ ]:
arr1 <= 5

In [ ]:
arr1 >= 5

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 == arr2

In [ ]:
arr1 != arr2

In [ ]:
arr1 < arr2

In [ ]:
arr1 > arr2

In [ ]:
arr1 <= arr2

In [ ]:
arr1 >= arr2

#### Logical operations on Arrays -
 - np.logical_or()
 - np.logical_and()
 - np.logical_not()
 - np.logical_xor()

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
np.logical_and(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_or(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_not(arr1 > 5)

In [ ]:
np.logical_xor(arr1 > 5, arr2 > 5)

#### Set Operations on Arrays

Applicable to 1-D Ararys only

- np.unique() - Find the unique elements of an array.
- np.in1d() - Test whether each element of a 1-D array is also present in a second array.
- np.intersect1d() - Find the intersection of two arrays.
- np.setdiff1d() - Find the set difference of two arrays.
- np.union1d() - Find the union of two arrays.

### Array Functions/Methods

- np.all(), np.any()
- arr.sum()
- arr.min(), arr.max(), arr.argmin(), arr.agrmax()
- np.round()
- np.mean(), np.median(), np.average(), np.percentile()

### Examples on Coffee Shop Data Set

#### Data

In [ ]:
import numpy as np
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

###### Ex. Identify the products meeting the Target Profits

###### Ex. Are the above products meeting their sales target too?

###### Ex. Identify products meeting sales targets bu not profit targets

### Array Manipulations

- **Changing Shape** – np.reshape()
- **Adding/Removing Elements** – np.append(), np.insert(), np.delete()
- **Splitting Arrays** – np.hsplit(), np.vsplit(), arr_obj.flatten()
- **Sorting Arrays** - arr_obj.sort(), arr_obj.argsort()

In [ ]:
arr = np.arange(1, 13)
arr

#### np.reshape()

In [ ]:
arr = np.reshape(arr, (4, 3))
arr

#### np.append()

In [ ]:
np.append(arr, [10,20,30, 50, 40, 60]) # Flattens the array

In [ ]:
np.append(arr, np.reshape(np.array([10,20,30]), (1, 3)), axis=0) # axis = 0 adds a 2-D array row-wise

In [ ]:
np.append(arr, [[10],[20],[30],[40]], axis=1) # axis = 1 adds a 2-D array column-wise

In [ ]:
arr_to_append = np.reshape(np.array([10,20,30,40]), (4,1))
np.append(arr, arr_to_append, axis = 1)

#### np.insert()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.insert(arr, 1, 5) # Flattens the arr and inserts 5 at index 1

In [ ]:
np.insert(arr, 1, 5, axis=0) # Inserts [5, 5, 5] as row 1

In [ ]:
np.insert(arr, 1, 5, axis=1) # Inserts [5, 5, 5, 5] as column 1

In [ ]:
np.insert(arr, 1, [10, 20, 30, 40], axis=1)

In [ ]:
np.insert(arr, 1, [10, 20, 30], axis=0)

#### np.delete()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.delete(arr, 1) # Flattens the arr and deletes element at index 1

In [ ]:
np.delete(arr, 1, axis=0) # deletes row 1

In [ ]:
np.delete(arr, 1, axis=1) # deletes column 1

In [ ]:
np.delete(arr,[0,2], axis=0) # deletes selected rows

In [ ]:
np.delete(arr,[0,2], axis=1) # deletes selected columns

#### np.hsplit(), np.vsplit()

In [ ]:
arr = np.reshape(np.arange(1, 25), (6,4))
arr

In [ ]:
np.vsplit(arr, 2)

In [ ]:
np.hsplit(arr, 2)

#### flatten()

In [ ]:
arr

In [ ]:
arr.flatten(order = "F") # returns a 1-D array

In [ ]:
help(arr.flatten)

<hr><hr>

# Data visualization (Basics)

- Representation of the data in a pictorial or graphical format
- Allow us to get the intuitive understanding of the data
- Helps to visualize the patterns in the data
- Python offers multiple great graphing libraries that come packed with lots of different features.
- Matplotlib: low level, provides lots of freedom
- Pandas Visualization: easy to use interface, built on Matplotlib
- Seaborn: high-level interface, great default styles
- Plotly: can create interactive plots
- Bokeh: used creating interactive visualizations for modern web browsers"

### Primary Objects of matplotlib
<img src = "./images/figure.png" align = left width = 300>
<br><br><br><br><br><br><br><br>

- The [figure] is the overall figure space that can contain one or more plots
- The [axes] is the individual plots that are rendered within the figure

### Anatomy of a figure

<img src = "./images/figure_anatomy.jpg" align = left width = 400>

### Using matplotlib.pyplot library to plot a chart

#### Installing library -

!pip install matplotlib

#### Importing library -

In [ ]:
import matplotlib.pyplot as plt

###### Use plt.show() as the last line of the code. It suppresses the memory address information

In [ ]:
import numpy as np
dates = np.arange('2019-01', '2022-01', dtype='datetime64[M]')
sales = np.array([42390, 77560, 77385, 76039, 42968, 53833, 47205, 68936, 51175, 48186, 71520, 66387, 62717, 52614, 42866, 64275, 44749, 68560,66258, 62221, 66303, 52428, 42300, 65645, 59215, 66944, 67519,46231, 79780, 59746, 59992, 70805, 64609, 72995, 60402, 76956])
profits = np.array([ 7206.3 ,  8531.6 , 13155.45,  9885.07,  7304.56,  9689.94, 5664.6 , 11029.76,  6141.  ,  5300.46,  9297.6 , 11285.79, 7526.04,  5787.54,  6429.9 , 12212.25,  5369.88, 12340.8 , 12589.02,  6222.1 ,  7293.33,  8388.48,  6768.  , 11816.1 , 7697.95, 11380.48,  7427.09,  6934.65,  8775.8 ,  7169.52, 7199.04,  9204.65, 10337.44,  9489.35, 10268.34, 14621.64])

#### Resize the figure

### Customise plots

- color, labels, title, legends, grid

### Subplots

###### Visualise sales and profits as subplots

### Additional chart types

In [ ]:
import numpy as np
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

#### Bar chart

#### Horizantal bar chart

#### Stacked bar chart

#### Side by Side Bar Chart

#### Pie chart

#### Bullet chart

#### Scatter Plot